{% extends 'base.html' %}
{% block content %}
<!doctype html>
<html>
    <head>
        <h1>CUSTOMER INFORMATION</h1>
    </head>
    <body>
        {% csrf_token %}
        <table border=2>
        <tr>
            <th>Customer Names</th>
            <th>Details</th>
            <th>Balance</th>
        </tr>
       {% for x in Customer %}
       <tr>
           <td>{{x.name}}</td>
           <td>{{ x.email }}</td>
           <td>{{ x.current_balance }}</td>
       </tr>
       {% endfor %}
       </table><br><br>
       <a class ="btn btn-dark" href ="{% url 'bbs:detail' %}">TRANSFER</a>&nbsp;
       <a class ="btn btn-dark" href ="{% url 'bbs:index' %}">
        BACK TO HOMEPAGE</a>
    </body>
</html>

{% endblock %}